@charset "UTF-8";

/*
Theme Name: Simple Comic
Author: Harry Pujols
Description: Comic site layout, using the Twitter Bootstrap framework.
Github Theme URI: https://github.com/harrypujols/simplecomic
Version: 0.4.6
*/


/* soft transition */

@-webkit-keyframes fadein {
0% {
   opacity: 0;
  }
50% {
	opacity: 0;
}
100% {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
0% {
   opacity: 0;
  }
50% {
	opacity: 0;
}
100% {
    opacity: 1;
  }
}

@-o-keyframes fadein {
0% {
   opacity: 0;
  }
50% {
	opacity: 0;
}
100% {
    opacity: 1;
  }
}

@keyframes fadein {
0% {
   opacity: 0;
  }
50% {
	opacity: 0;
}
100% {
    opacity: 1;
  }
}

/* sitewide */

body {
	-webkit-animation: fadein 1s ease-in;
	-moz-animation: fadein 1s ease-in;
	-o-animation: fadein 1s ease-in;
	animation: fadein 1s ease-in;
}

section {
	text-align: center;
}

img { 
  height:auto;
}

/* header */


.head-bar, sub-bar {
	-webkit-box-shadow: 0px 1px 5px #DDDDDD;
	-moz-box-shadow: 0px 1px 5px #DDDDDD;
	box-shadow: 0px 1px 5px #DDDDDD;
}

.head-bar a:active, .sub-bar a:active {
	-webkit-transform: translate(0, 1px);
	-moz-transform: translate(0, 1px);
	transform: translate(0, 1px);
}

.head-bar {
	background: #CCC;
	margin: 0;
}

.head-bar li [class^="icon-"] {
	color: #08C;
	text-shadow: rgba(255,255,255,0.25) 0px 1px 0px;
}

.head-bar li [class^="icon-"]:hover {
	color: white;
	text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
}

.sub-bar {
	background: #F5F5F5;
}

.sub-bar li [class^="icon-"] {
	color: #CCC;
	text-shadow: none;
}

.sub-bar li [class^="icon-"]:hover {
	color: white;
	text-shadow: rgba(155,155,155,0.246094) 0px -1px 0px;
}

.widget, .widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* content */

p.container {
	text-align: left;
	padding-left: 2px;
}

article {
	margin-bottom: 15px;
}

/* content about page */

.hero-image {
	text-align: center;
}

.social a {
	text-decoration: none;
	font-size: 2em;
}

.social p {
	margin: 10px 15%;
	display: inline;
}

.social p:nth-child(2) {
	margin-left: 0;
}

.social p:last-child {
	margin-right: 0;
}

/* characters page */

#characters {
	text-align: left;
}

/* single characters page */

#post {
	text-align: left;
}

#post img {
	margin-bottom: 30px;
}

/* navegation */

#nav-buttons a {
	text-decoration: none;
}

#nav-buttons ul {
	width: 105px;
	margin: 0 auto;
	list-style: none;
}

#nav-buttons li {
	display: inline;
	padding: 10px;
	border-radius: 5px;
	border: thin solid #CCC;
}

#nav-buttons li:hover {
	background: #F5F5F5;
}

#nav-buttons li:empty {
	visibility: hidden;
}

nav.pagination a, nav.pagination a:first-child, nav.pagination a:last-child {
	margin: 2px;
	border: thin solid #DDD;
	border-radius: 2px;
}

/* default comments */

.home #discussion {
	display: none;
}

#discussion {
	margin-top: 5px;
}

.commentlist {
	text-align: left;
	margin: 10px auto;
	border: thin solid #CCC;
	border-radius: 2px;
	background-color: white;
}

.commentlist li {
	margin: 10px 0;
	padding: 5px 10px;
	border-bottom: thin solid #CCC;
	list-style: none;
}

.commentlist li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.comment-author, .comment-meta {
	background: #F5F5F5;
}

.comment-meta {
	padding-left: 5px;
	margin-bottom: 10px;
}

.comment-meta a {
	text-decoration: none;
}

.comment-meta a:first-child {
	font-size: .8em;
}

h3#comments {
	display: inline;
	margin-bottom: 2px;
}

#cancel-comment-reply {
	margin-bottom: 5px;
}

#respond h3 {
	display:none;
}

textarea, .commentlist {
	width: 300px;
}

/* footer */

footer {
	text-align: center;
	color: #ccc;
	font-size: .8em;
}

footer small li {
	display: inline;
	list-style: none;
}