@charset "UTF-8";

/* hack for the terrible default nav button display */

#nav-buttons a {
	text-decoration: none;
}

#nav-buttons ul {
	width: 150px;
	margin: 0 auto;
	list-style: inherit;
}

#nav-buttons li {
	display: inherit !important;
	float: left;
	padding: 0;
	border: none !important;
}

#nav-buttons li:hover {
	background: inherit;
}

#nav-buttons li:empty {
	visibility: inherit;
}